# Environment Configuration
NODE_ENV=development
PORT=5000
JWT_SECRET=your_jwt_secret_here # (in bash you can do `openssl rand -base64 32` to generate a secure random string)
FRONTEND_URL=http://localhost:5173

EMAIL_FROM=clubhub.notifications@gmail.com
EMAIL_APP_PASSWORD=your_app_password_here # (generate an app password from your email provider for better security)

# Database Configuration
DB_HOST=localhost # Use 'db' as the hostname for the PostgreSQL service in Docker
DB_PORT=5432
DB_NAME=clubhub
DB_USER=postgres
DB_PASSWORD=postgres
